* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #b92b27, #1565c0);

  h1 {
    text-align: center;
    color: #fff;
    font-size: 50px;
  }
}
